html {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}

#mat {
    width: 100%;
    border: 5px solid white;
}


